#write-1{
    margin-top: 40px;
    margin-left: 59px;
    margin-bottom: 5px;
}
#write-title input{
    height: 40px;
    width: 200px;
}


ul {
    padding-left: 0; 
    list-style: none;
}
        
h1 {
    text-align: center;
}
        /* write.html 시작 */
#write-cate {
    width: 100%;
    height: 100px;
    margin-left: 59px;
    
}

#menu li > a{
    text-decoration: none;
}
#menu #submenu {
    display: none;
}
#menu li:hover > #submenu {
    display: block;
}
        
#write-box{
    width: 100%;
    margin-left: 59px;
}
        
#textbox {
    width:80%;
    height: 500px;
    border: 1px solid;
    
}
        
.fileBox {
    text-align: center;
}
        
.fileBox .fileName {
    width:190px;
    height:40px;
    
    display:inline-block;
    padding-left:10px;
    margin-right:5px;
    line-height:30px;
    border:1px solid #aaa;
    background-color:#fff;
    vertical-align:middle
}
.fileBox .btn_file {
    width:100px;
    height:30px;
            
    display:inline-block;
    border:1px solid #000;
    font-size:0.8em;
    line-height:30px;
    text-align:center;
    vertical-align:middle
}

.fileBox input[type="file"] {
    width:1px;
    height:1px;
    
    position:absolute;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}
#write-bottom a{
    text-decoration: none;
    color: black;
    margin-left: 80px;
}
#write-bottom a:hover{
    background-color: black;
    color: white;
}

        


