body {
    width:100%;
    min-width: 500px;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}
#sec {
    max-width: 960px;
    height: 100%;
    margin: 50px auto 0 auto !important;
    position: sticky;
    background-color: cornflowerblue;
}
#nv {
    float: left;
    width: 300px;
    height: 200vh;
    background-color: bisque;
    /*position: fixed;*/
}
#nv [src$="profile.jpg"] {
    width: 45%;
    border-radius: 0.5em;
    margin: 3%;
}
#hp {
      float: left;
      width: calc(100% - 300px);
      height: 110px;
      background-color: cadetblue;
}
.arc {
      float: left;
      width: calc(100% - 300px);
      height: 300px;
      background-color: aquamarine; 
}
#page {
    float: left;
    width: calc(100% - 300px);
    height: 70px;
    text-align: center;
    background-color: coral;
}
#Introduce {
    float: left;
    width: calc(100% - 300px);
    background-color: cyan;
}
#skills {
    float: left;
    width: calc(100% - 300px);
    background-color: blueviolet
}
#skills a {
    display: inline-block;
    padding: 1px 5px 1px 15px;
    text-decoration: none;
}
#skills a:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}
#contact {
    float: left;
    width: calc(100% - 300px);
    background-color: fuchsia;
    /*display: inline-block;*/
}
#contact > :nth-child(2) {
    font-size: 13px;
    float: left;
    width: 30%;
    margin-left: 5%;
    padding: 40px 0;
    text-align: center;
    background-color: darkgray;
}
#contact > :nth-child(3) {
    font-size: 13px;
    float: left;
    width: 30%;
    max-height: 30px;
    padding: 40px 0;
    text-align: center;
    background-color: burlywood;
}
#contact > :nth-child(4) {
    font-size: 13px;
    float: left;
    width: 30%;
    margin-right: 5%;
    padding: 40px 0;
    text-align: center;
    background-color: darkgray;
}
#contact article input {
    width: 94%;
    height: 30px;
    margin: 0 3%;
}
#contact article h4 {
    margin-left: 3%;
}
#contact article > :nth-child(7) {
    width: 150px;
    margin: 5px 3%; 
}