#left {
    display: none;
}
body {
    width: 100%;
}

#right {
    width: calc(100% - 20px);
}

#hp-right img {
    display: block;
    float: right;
    margin-right: 10px;
}

#leftMenu {
    display: block;
    
}

footer, footer > div {
    width: 100%;
}
