html, body, #container, h1, p, hr, h5 {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

body {
    width: 100%;
}

#container {
    max-width: 1000px;
    margin: auto;
    height: auto;
    
}

#left {
    width: 300px;
    height: 100vh;
    float: left;
    background-color: antiquewhite;
    
}

#right {
    width: calc(100% - 320px);
    float: right;
    background-color: aqua;
    padding: 10px;
}
/*
#right div{
    margin-left: 2%
}
*/

#img-box {
    width: 60%;
    margin-left: 10%;
    margin-top: 30px;
}

#img-box > img {
    width: 100%;
}

#right-1 {
    
    background-color: fuchsia;
    
}
#filter {
    margin-top:20px;
    margin-left: 5px;
    height: 50px;
}

#filter a{
    height: calc( 50px - 14px);
    line-height: 40px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    background-color: white;
    padding: 7px;
    /*margin:*/
    
}

#filter a:hover{
    background-color: #ebe6e6;
}

#hp #div_hr > hr{
    height: 5px;
    background-color: black;
   
}

#right-2 {
    background-color: white;
}

.arc {
    box-sizing: border-box;
    width: 100%;
}

.dls-third img {
    margin-top: 20px;
    width: 100%;
}

.arc-box {
    box-sizing: border-box;
    width: 95%;
    margin: auto;
}
.arc-box-text {
    margin-top: 0;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 100px;
    background-color: chartreuse;
    
}
.arc-box-text p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    
    
}


#page {
    clear: both;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: firebrick;
    float: left;
    height: 10vh;
    width: 100%;
}

footer > div {
    height: inherit;
    width: 1000px;
    margin:auto;
    text-align: center;
    text-overflow: ellipsis;
}

